@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/globals.css or styles/main.css */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
  background-color: #121212;
  height: 150vh;
  /* background-image: url('/images/home-bg1.png');
  background-size: cover;   
  background-position: center; */
}

.article-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 5px;
  background: #e8aa50;
  border-radius: 3px;
}

.nav_radius {
  border-radius: 12px 12px 0 0;
}
.nav_radius1 {
  border-radius: 0 12px 0 12px;
}

.moblieName {
  width: 100% !important;
}

/* .icon_border {
  border-radius: inset 0 12px 0 12px;
} */

.custom_animation {
  animation: scaleUp 0.25s ease forwards;
}

@keyframes scaleUp {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
