@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #121212;
  height:150vh;
 /* background-image: url('/images/home-bg1.png');
  background-size: cover;   
  background-position: center; */
}

.article-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 5px;
  background: #E8AA50;
  border-radius: 3px;
}

.nav_radius{
  border-radius: 12px 12px 0 0;
}
.nav_radius1{
  border-radius: 0 12px 0 12px;
}